<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Tickets</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Object</th>
                    <th>Etat</th>
                    <th colspan="4">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                    <td>{{ticket.object}}</td>
                    <td>{{ticket.etat}}</td>
                    <td><button class="btn btn-secondary" (click)="detailTicket(ticket.id)">Details</button></td>    
                    <td><button class="btn btn-secondary" (click)="addMessage(ticket.id)">add Message</button></td>
                    <td><button class="btn btn-primary" (click)="updateTicket(ticket.id,ticket)">Update</button></td>
                    <td><button class="btn btn-danger" (click)="deleteTicket(ticket.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
