<div *ngIf="project">
    <div>
        <label>Name: </label> {{project.name}}
    </div>
    <div>
        <label>Category: </label> {{project.category}}
    </div>
    <div>
        <label>Priority: </label> {{project.priority}}
    </div>
    <div>
        <label>Status: </label> {{project.status}}
    </div>
    <div>
        <label>Start Date: </label> {{project.startDate}}
    </div>
    <div>
        <label>End Date: </label> {{project.endDate}}
    </div>
    <div>
        <label>Budget: </label> {{project.budget}}
    </div>
    <div>
        <label>Budget In Days: </label> {{project.budgetInDays}}
    </div>
    <div>
        <label>Active: </label> {{project.active}}
    </div>
    <span class="button is-small btn-primary" *ngIf='project.active' (click)='updateActive(false)'>Inactive</span>

    <span class="button is-small btn-primary" *ngIf='!project.active' (click)='updateActive(true)'>Active</span>

    <span class="button is-small btn-danger" (click)='deleteProject(project.id)'>Delete</span>

    <hr/>
</div>
<hr>
<button (click)="goToList()" class="btn btn-primary">Projects List</button>
<br>