<h3>Update Ticket</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="object">Object</label>
      <input type="text" class="form-control" id="object" required [(ngModel)]="ticket.object" name="object">
    </div>
    
    <div class="form-group">
      <label for="etat">Etat</label>
      <input type="text" class="form-control" id="etat" required [(ngModel)]="ticket.etat" name="etat">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
